<span class="btn btn-info btn-file">
  Upload {{s3-uploader url="/api/users/sign_s3" updatePhoto="updatePhoto"}}
</span>
<div id="preview"><img style="width: 70px;height: 70px" {{bind-attr src=photo}}/></div>
<p id="status" class="help-block">Please upload your avatar</p>

{{input type="hidden" id="avatar_url" name="avatar_url" value=photo}}