<label>Check your inbox!</label>
<br/>
<br/>
<span>We've sent you a recovery password in your email inbox.</span>
<br/>
<br/>
<br/>
<div class="link">
  <span>{{#link-to 'auth.login'}}Login{{/link-to}}</span>
</div>