<div class="login-panel">
  <div class='left'>
    <div class='left-body'>
      <div class="logo">
        <img src="images/telegram-logo.png">
      </div>
    </div>
  </div>
  <div class='right'>
    <img class='postmark' src="images/postmark.png">
    <div class='input-field'>
      <label>Reset password</label>
      <br/>
      <input type='text' placeholder='Enter your email ...'/>
      <br/>
      <br/>
      <button type='button' class='reset' {{action 'reset'}}>Reset password</button>
    </div>
  </div>
</div>