<label>Get going ...</label>
<br/>
<br/>
{{input type="text" placeholder="Enter your username ..." value=username}}
<br/>
{{input type="password" placeholder="Enter your password ..." value=password}}
<br/>
<br/>
<br/>
<button type='button' class='login' {{action 'login'}}>Login</button>  
<div class="link">
  <span>{{#link-to 'auth.forgotpass'}}Recover password{{/link-to}} or {{#link-to 'auth.signup'}}Sign up{{/link-to}}</span>
</div>
