<label>Reset password</label>
<br/>
{{input type='password' placeholder='Enter your new password ...' value=password}}
<br/>
<br/>
<button type='button' class='reset' {{action 'reset'}}>Reset password</button>