body {
  background: #008CB8;
  font-family: "Open Sans";
}

.login-panel {
  background: #FFFFFF;
  margin: 100px auto;
  width: 900px;
  height: 400px;
}

.left {
  display:inline-block;
  float: left;
  width: 449px;
  height: 100%;
}

.left .left-body {
  display:inline-block;
  width: 100%;
  height: 340px;
  border-right: 1px solid #E0E0E0;
  margin: 30px 0;
}

.left .logo {
  width: 234px;
  margin: 130px auto;
}

.right {
  display:inline-block;
  width: 450px;
  height: 100%;
}

.right .postmark {
  float: right;
  margin-top: 20px;
}

.right .input-field {
  margin-top: 150px;
  margin-left: 70px;
}

.input-field input {
  border: 0;
  border-bottom: 1px solid #EEEEEE;
  height: 30px;
  width: 300px;
  padding-left: 5px;
  margin-top: 5px;
  line-height: 18px;
}

.input-field label {
  font-size: 22px;
  color: #000000
}

.input-field button {
  width: 60px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #0084B2;
  background: #FFFFFF;
  border: 1px solid #0084B2;
}

.link a {
  font-size: 13px;
  color: #0084B2;
  text-decoration: none;
}

.link span {
  margin-right: 20px;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #000000
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
  color: #000000
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 13px;
  color: #000000 
}

:-ms-input-placeholder {  
  font-size: 13px;
  color: #000000
}
