<div class='dashboard-body col-md-6 col-md-offset-3'>
  <div class="publish">
    {{textarea class='form-control' value=body rows='4' maxlength='140'}}
    <div class="bottom-section">
      <span>{{remainingWords}} characters</span>
      <button class='btn btn-default' {{action publish}}>Publish</button>
    </div>
  </div>

  <div class="latest-post">
    <hr>
      <div class="title">
        <p class='text-center'>Latest posts</p>
      </div>
    <hr>
    <div class="content">
      {{#each post in dashboardPosts}}
        {{single-post post=post deletePost="deletePost" repost="repost"}}
      {{/each}}
    </div>
  </div>
</div>


<div class="modal fade" id="upgrade-result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" id="upgrade-message">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>