<div class="header">
	<div class='home-link'>
		{{#link-to 'dashboard'}}<img src="images/icon-home.png"> <span>Home</span>{{/link-to}}
	</div>

	<div class='home-logo'>
		<img src="images/telegram-logo-header.png">
	</div>

	<div class='profile-link'>
		<a><img src="images/icon-home.png"> <span>Desmond</span></a>
	</div>
</div>